:root {
  --color-light-slate: #8e8f99;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: inherit;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 48px auto 0;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list {
  display: flex;
  gap: 24px;
}

.list-wraper {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.advantage-item {
  width: 264px;
}

.icon {
  fill: #f4f4fd;
}

.icon:hover,
.icon:focus {
  background-color: #404bbf;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-link {
  width: 40px;
  height: 40px;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}

.subtitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantage-text .text-description {
  margin-bottom: 0;
}

.text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: inherit;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.section-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.name-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.name-section {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-section .text {
  text-align: center;
}

.name-list {
  padding: 32px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-wrapper {
  margin-right: 120px;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer .text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-links .link-icon:hover,
.footer-social-links .link-icon:focus {
  background-color: #31d0aa;
}

.text-links {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-links .icon:hover,
.footer-social-links .icon:focus {
  background-color: #31d0aa;
}

.footer-social-links .social-links {
  gap: 16px;
}

/*Modal*/

.backdrop {
  position: fixed;
  inset: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  background-color: #fcfcfc;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}


.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #fff;
}

.modal-wrapper {
  margin-bottom: 8px;
}

.modal-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  display: block;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.modal-textarea {
  width: 100%;
  border-radius: 4px;
  border-color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  min-height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comment {
  margin-bottom: 16px;
}

.modal-check-wrapper {
  margin-bottom: 24px;
}

.modal-check-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: 0.04em;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
}

.modal-link-text {
  text-decoration-line: underline;
  color: #4d5ae5;
  margin-left: 4px;
}

.modal-check-input:checked + .modal-check-text .modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button-submit {
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  background-color: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 24px auto 0;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #404bbf;
  border: none;
}

.footer-subscribe-wrapper {
  margin-left: 80px;
}
.footer-subscribe-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  min-width: 264px;
  min-height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe-input::placeholder {
  color: #fff;
}

.footer-subscribe-button {
  border-radius: 4px;
  background: #4d5ae5;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  min-width: 165px;
  font-family: 'Roboto', sans-serif;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #404bbf;
}
